
<style>
  @media only screen and (max-width: 767px){
  .faq-section-inner {
      padding: 20px 15px 20px;
  }
}
</style>
<section class="meazor-faq-section h-faq-section" >
  <div class="container">
    
    <div class="faq-section-inner">
      <div class="measzor-top-heading">
       <span>{{ section.settings.title }}</span>
    </div>
      <div class="dropdown_c dropdown_click">
  <div class="selected">
   <span><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Vector_11.png?v=1664804011"></span>
  </div>
  <div class="drop-content">
    <ul>
      <li>
        <ul class="accordion-list">
                    
  {% for block in section.blocks %} 

  <li>
    <h3>{{ block.settings.qustion }}</h3>
    <div class="answer">
    {{ block.settings.answer }}

    </div>
  </li>

{% endfor %}
          
        </ul>
      </li>
     
        
      </li>
    </ul>
  </div>
</div>
    </div>
  </div>
</section>



{% schema %}
  {
"name": "h-faq-section",
   "settings": [
       {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
       {
      "type": "image_picker",
      "id": "Vector_image",
      "label": "Vector Image"
    },
   {
      "type": "text",
      "id": "Button_title",
      "label": "Button Title"
    },
      {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    }
     
 ],
       "blocks": [
     {
       "name": "FAQ",
       "type": "FAQ",
       "settings": [
         {
           "type": "text",
           "id": "qustion",
           "label": "Qustion"
         },
           {
           "type": "html",
           "id": "answer",
           "label": "Answer"
         }
       ]
     }
  ],
"presets":[{
 "name": "h-faq-section",
"category": "h-faq-section"

}]
  }
{% endschema %}