<style>
  

  .h-neoruler-Social-Media {
    background: #fff;
    position:relative;
  }

  .h-neoruler-Social-Media-inner{
    padding: 50px 20px 300px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .h-neoruler-Social-Media h2 {
    font-family: 'Alibaba PuHuiTi 2.0';
    font-style: normal;
    font-weight: 900;
    font-size: 56.25px;
    line-height: 79px;
    text-align: center;
    color: #000;
    margin-bottom:23px;
  }

  .h-neoruler-Social-Media h2 span {
    color: #56b1fd;
  }

  .h-neoruler-Social-Media .fist-box {
    width: 610px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 31px;
  }

  .h-neoruler-Social-Media .middle-text{
  font-family: 'Alibaba PuHuiTi 2.0';
  font-style: normal;
  font-weight: 500;
  font-size: 18.75px;
  line-height: 23px;
  text-align: center;
  margin-bottom:46px;
  color:#fff;
}



  

</style>
<section class="h-neoruler-Social-Media">

  <div class="h-neoruler-Social-Media-inner">
    <h2>Social Media</h2>

    <div></div>
  
    <div class="h-wrap">
      <div class="h-inner-wrap">
        {% for block in section.blocks %}
          <a style="display:block" href="block.settings.url1">
          <img class="lazyload"  data-src="block.settings.img1 | img_url : 'master' }}"  >
          </a>
        {% endfor %} 
        </div>
      </div>
  
  
  </div>

 
    
  </div>
</section>

<script>
 


</script>

{% schema %}
{
  "name": "h-neoruler-Social-Media",
  "settings": [],
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "id": "img1",
          "type": "image_picker",
          "label": "Add Image"
        },

        {
          "id": "url1",
          "type": "url",
          "label": "Add Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "h-neoruler-Social-Media",
      "category": "Custom Content"
    }
  ]
}
{% endschema %}
