<style>
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
  }


  .h-neoruler-parent-child{
    background:#000;
  }
  .h-neoruler-parent-child h2{
  
    font-family: 'Alibaba PuHuiTi 2.0';
    font-style: normal;
    font-weight: 900;
    font-size: 56.25px;
    line-height: 79px;
    text-align:center;
    color:#fff;
  }

  .h-neoruler-parent-child h2 span{
  
    color:#56B1FD;
  
  }

</style>
<section class="h-neoruler-parent-child">

  <h2> Epic <span>Neo Functions</span></h2>


</section>


<script>
  var outerSwiper = new Swiper('.outer-swiper-container', {
    // 外部轮播的配置
   
    on: {
      slideChangeTransitionEnd: function() {
        var innerSwiper = this.slides[this.activeIndex].querySelector('.inner-swiper-container').swiper;
        if (innerSwiper.isEnd) {
          this.slideNext();
        }
      }
    }
  });
  
  var innerSwipers = [];
  var innerSwiperContainers = document.querySelectorAll('.inner-swiper-container');
  for (var i = 0; i < innerSwiperContainers.length; i++) {
    var innerSwiper = new Swiper(innerSwiperContainers[i], {
      // 内部轮播的配置
      autoplay: {
        delay: 2000,
        disableOnInteraction: false,
      },
      nested: true,
      on: {
        slideChangeTransitionStart: function() {
          for (var j = 0; j < innerSwipers.length; j++) {
            if (innerSwipers[j] !== this) {
              innerSwipers[j].autoplay.stop();
            }
          }
        },
        slideChangeTransitionEnd: function() {
          for (var j = 0; j < innerSwipers.length; j++) {
            if (innerSwipers[j] !== this) {
              innerSwipers[j].autoplay.start();
            }
          }
        }
      }
    });
    innerSwipers.push(innerSwiper);
  }
</script>

{% schema %}
{
  "name": "h-neoruler-parent-child",
  "settings": [],
  "presets": [
    {
      "name": "h-neoruler-parent-child",
      "category": "Custom Content"
    }
  ]
  }

{% endschema %}
