


<style>
  .section-5 {
    position: relative;
    background-color: #fff;
    padding: 60px 0 70px;
    overflow: hidden;
  }

  .section-5 .inner-box {
    max-width: 907px;
    display: flex;
    margin: 0 auto;
  }

  .section-5 .title {
    font-family: 'alibaba-heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 105px;
    text-align: center;

    color: #000000;
  }

  .section-5 .sub-title {
    font-family: 'alibaba-heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 105px;
    text-align: center;

    color: #56b1fd;
  }

  .section-5 .left-box {
    width: 50%;
  }

  .section-5 .right-box {
    width: 50%;

  }

 

  .section-5 .right-box #animate_box {
    position: absolute;
    top: 25%;
    right: 0;
    width: 700px;
    transform-origin:right;
  }

  .section-5 .right-box #animate_box img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  .section-5 .inner-box .item {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 25px;
    margin-bottom: 10px;
  }

  .section-5 .inner-box .item .text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-5 .item .text-box .font-1 {
    font-family: 'alibaba-heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 31px;
    line-height: 44px;
    /* identical to box height */

    color: #070a0f;
  }

  .section-5 .item .text-box .font-2 {
    font-family: 'alibaba-heavy';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height */

    color: #070a0f;
  }

  @media (max-width: 900px) {
    .section-5 .title {
      font-size: 64px;
      line-height: 90px;
    }

    .section-5 .sub-title {
      font-size: 64px;
      line-height: 90px;
    }

    .section-5 .inner-box {
      display: flex;
      flex-direction: column;
    }
    .section-5 .left-box {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .section-5 .inner-box .item {
      flex-direction: column;
      padding: 0;
      width:100%;
      text-align:center;
    }

    .section-5 .left-box .item img {
      width: 50%;
    }
    .section-5 .right-box {
      width: 100%;
      padding-bottom:50%;
      position:relative;
    }

    .section-5 .right-box #animate_box{
      width:100%;
    }

    .section-5 .right-box img {
      position: static;
      width: 100%;
    }

    .section-5 .item .text-box .font-1 {
      font-size: 26px;
      line-height: 39px;
    }
    .section-5 .item .text-box .font-2 {
      font-size: 18px;
      line-height: 28px;
    }
  }

  @media (max-width:420px) {
    .section-5 .title {
      font-size: 35px;
      line-height: 50px;
    }

    .section-5 .sub-title {
      font-size: 35px;
      line-height: 50px;
    }

    .section-5 .item .text-box .font-1{
      font-size:15px;
      line-height: 22px;

    }
    .section-5 .item .text-box .font-2{
    
      font-size:11px;
      line-height: 16px;
    }
  }

</style>
<section class="section-5">
  <div class="title">The Mastermind</div>
  <div class="sub-title" id="section_5_animate">Behind NeoRuler</div>
  <div class="inner-box">
    <div class="left-box">
      <div class="item">
        <img src="https://cdn.shopifycdn.net/s/files/1/0549/7667/6078/files/Frame_715.png" alt="">
        <div class="text-box">
          <div class="font-1">ARM Cortex-M4</div>
          <span class="font-2">High Speed MCU</span>
        </div>
      </div>
      <div class="item">
        <img src="https://cdn.shopifycdn.net/s/files/1/0549/7667/6078/files/Frame_715-1.png" alt="">
        <div class="text-box">
          <div class="font-1">4096-Grade</div>
          <span class="font-2">Magnetic Encoder</span>
        </div>
      </div>
      <div class="item">
        <img src="https://cdn.shopifycdn.net/s/files/1/0549/7667/6078/files/Frame_715-2.png" alt="">
        <div class="text-box">
          <div class="font-1">300 LED Lights</div>
          <span class="font-2">Dynamic Array</span>
        </div>
      </div>
    </div>
    <div class="right-box">
      <div>
        <div id="animate_box" style="position: absolute;">
          <img
            id="animate2"
            class="img_1"
            src="https://cdn.shopifycdn.net/s/files/1/0549/7667/6078/files/Property_2.png"
            alt=""
          >

          <img
            id="animate1"
            class="img_1"
            src="https://cdn.shopifycdn.net/s/files/1/0549/7667/6078/files/Property_1.png"
            alt=""
          >
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
    {
      "name": "h-neo_kslp_new_5",
      "settings": [
      ]
    }
{% endschema %}

{% stylesheet %}


{% endstylesheet %}



{% javascript %}


  // TweenMax.set("#animate1",{left: "-=100"});
  // build tween

 
  var section_5_scale =1.5
  var section_5_top = 100

  if($(window).width()>1550){
    
    section_5_scale=1.5

    section_5_top = 200
  }

  if($(window).width()<1550&&$(window).width()>1300){
    $('#animate_box .img_1').css('width','580')
    
    section_5_scale=1.5

    section_5_top = 200
  }

  if($(window).width()<1300&&$(window).width()>900){
    
    $('#animate_box .img_1').css('width','430')
    section_5_scale=1.5

    section_5_top = 220
  }

  if($(window).width()<900){
    
    $('#animate_box .img_1').css('width','80%')
    section_5_scale=1.3
    section_5_top = 0
 
  }


  var section_5_tween = new TimelineMax()
    .to('#animate_box', 1.5, {
      scale: section_5_scale,
      top: section_5_top,
    })
    .to('#animate1', 1, {
      alpha: 0,
    });
    // build scene
    var scene = new ScrollMagic.Scene({
    triggerElement: '#section_5_animate',
  }).setTween(section_5_tween).addTo(controller);



  
{% endjavascript %}
