<style>
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
</style>

<div class="swiper-container outer-swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      aa
      <div class="swiper-container inner-swiper-container">
        <div class="swiper-wrapper">
         
          <div class="swiper-slide">11</div>
          <div class="swiper-slide">22</div>
          <div class="swiper-slide">33</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      bb
      <div class="swiper-container inner-swiper-container">
        <div class="swiper-wrapper">
         
          <div class="swiper-slide">111</div>
          <div class="swiper-slide">222</div>
          <div class="swiper-slide">333</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">cc</div>
  </div>
</div>



<script>
  var outerSwiper = new Swiper('.outer-swiper-container', {
    // 外部轮播的配置
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    on: {
      slideChangeTransitionEnd: function() {
        var innerSwiper = this.slides[this.activeIndex].querySelector('.inner-swiper-container').swiper;
        if (innerSwiper.isEnd) {
          this.slideNext();
        }
      }
    }
  });
  
  var innerSwipers = [];
  var innerSwiperContainers = document.querySelectorAll('.inner-swiper-container');
  for (var i = 0; i < innerSwiperContainers.length; i++) {
    var innerSwiper = new Swiper(innerSwiperContainers[i], {
      // 内部轮播的配置
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      nested: true,
      on: {
        slideChangeTransitionStart: function() {
          for (var j = 0; j < innerSwipers.length; j++) {
            if (innerSwipers[j] !== this) {
              innerSwipers[j].autoplay.stop();
            }
          }
        },
        slideChangeTransitionEnd: function() {
          for (var j = 0; j < innerSwipers.length; j++) {
            if (innerSwipers[j] !== this) {
              innerSwipers[j].autoplay.start();
            }
          }
        }
      }
    });
    innerSwipers.push(innerSwiper);
  }
</script>

{% schema %}
{
  "name": "h-neoruler-parent-child",
  "settings": [],
  "presets": [
    {
      "name": "h-neoruler-parent-child",
      "category": "Custom Content"
    }
  ]
  }

{% endschema %}
