{{ 'meazor.css' | asset_url | stylesheet_tag }}
{{ 'meazor-responsive.css' | asset_url | stylesheet_tag }}

<section class="mezor__product-imgs">
  <div class="container">
    <div class="row align-items-center h-123">
      <div class="col-lg-12">
        {{section.settings.title1}}
      </div>
      <div class="col-lg-12">
        <img class=" lazyload" style="width:100%;height:auto;" data-src="{{ section.settings.img1 | asset_img_url: 'master' }}">
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "h-title-img",
  "settings": [
    {
      "id": "title1",
      "type": "html",
      "label": "Title"
    },
    {
      "id": "img1",
      "type": "image_picker",
      "label": "Add Image"
    }
    
    
  ],
  "presets": [
    {
      "name": "h-title-img",
      "category": "Custom Content"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
