
<section class="h-title-img">
  <div class="container">
    <div class="row h-123">
      <div class="col-lg-12">
        {{section.settings.title1}}
      </div>
      <div class="col-lg-12">
        <img class="" style="width:100%;height:auto;" data-src="{{ section.settings.img1 | img_url: 'master' }}">
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "h-title-img",
  "settings": [
    {
      "id": "title1",
      "type": "html",
      "label": "Title"
    },
    {
      "id": "img1",
      "type": "image_picker",
      "label": "Add Image"
    }
    
    
  ],
  "presets": [
    {
      "name": "h-title-img",
      "category": "Custom Content"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
