
<section class="spec-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
      	<div class="New-specs">
          <div class="specs-main1">
                  <img src="{{ section.settings.img | img_url : 'master'}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 


<section class="speces">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="New-specs">
                  
                  {% for block in section.blocks %}
                    <div class="specs-main">
                        <div class="spcs-left">
                            <h4>{{block.settings.text1}}</h4>
                        </div>
                        <div class="specs-right">
                         {{block.settings.text2}}
                        
                        </div>
                    </div>
                  {% endfor %}
                  
                    
                  
                  
                  
                </div>
            </div>
        </div>
      </div>
      {{ page.metafields.global.details.value }}
  
  
    </section>








{% schema %}
  {
    "name": "meazor-spec",
    "settings": [
 {
            "id": "img",
            "type": "image_picker",
            "label": "Add Image"
          }



],
"blocks": [
      {
        "type": "text",
        "name": "section",
        "settings": [
          {
            "id": "text1",
            "type": "textarea",
            "label": "Add Heading"
          },
          {
            "id": "text2",
            "type": "textarea",
            "label": "Add Paragraph"
          }


       
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
