<style>

</style>


<h2 class="title">{{all_products[block.settings.product].title}}</h2>
<div product-id="{{ product.id }}" class="alr-display-review-badge"></div>

{% schema %}
{
  "name": "s_anniversary_all",
  "settings": [
    {
        "type": "product",
        "id": "product",
        "label": "Product"
    }
  ]
 
  }

{% endschema %}
