<section class="support-section">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-12 h-100">
        <div class="support-inner h-100" style="background-image:url('https://cdn.shopify.com/s/files/1/0549/7667/6078/t/23/assets/support-center.png?v=1664301623')">
          <div class="suooprt-inner-inner">
            <h6>Support Center</h6>
            <a href="https://hozodesign.com/pages/coming-soon" class="learn-more">Learn more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
"name": "Support Section",
   "settings": [
       {
      "type": "html",
      "id": "banner_title",
      "label": "Banner Title"
    },
   {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
       {
      "type": "text",
      "id": "button_title",
      "label": "Button Title"
    },
      {
      "type": "url",
      "id": "url",
      "label": "Url"
    }
 ],
    
"presets":[{
 "name": "Support section",
"category": "Support section"

}]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}