<style>
    .tt_section_join {
        background:#FCF3E7;
        position:relative;
    }
    .tt_section_join .tt-h1-title {
        position: absolute;
        width: 168px;
        height: 27px;
        left: 115.94px;
        top: 133.82px;
        font-family: 'Alibaba PuHuiTi 2.0';
        font-style: normal;
        font-weight: 700;
        font-size: 19.3237px;
        line-height: 27px;
    }
</style>
<section class="tt_section_join">
    <div class="tt-join">
        <p class="tt-h1-title">{{ section.settings.anniversary_join_title }}</p>
        <img style="width: 100%;height: auto;" src="{{ block.settings.image | image_url }}" alt="">
    </div>
  </section>
  {% schema %}
    {
        "name": "tt-anniversarySale-1",
        "settings": [
        {
            "type": "text",
            "id": "anniversary_join_title",
            "label": "标题",
            "default": "Join social contest "
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "产品背景图"
        }
        ]
    }
{% endschema %}
{% javascript %}
{% endjavascript %}