<section class="tt_section_join">
    <div class="tt-join">
        <p class="tt-h1-title">{{ section.settings.anniversary_join_title }}</p>
        <div class="tt-r-link tt-2-link">
            <img style="width: 100%;height: auto;" src="{{ block.settings.image | image_url }}" alt="">
        </div>
    </div>
  </section>
  {% schema %}
    {
        "name": "tt-anniversarySale-1",
        "settings": [
        {
            "type": "text",
            "id": "anniversary_join_title",
            "label": "标题",
            "default": "Check out HOZO’s Ultimate Guide"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "产品背景图"
        }
        ]
    }
{% endschema %}
{% javascript %}
{% endjavascript %}