<style>
    .tt-can .tt-h1-title {
      width: 100%;
      height: 99px;
      font-family: 'Alibaba PuHuiTi 2.0';
      font-style: normal;
      font-weight: 900;
      line-height: 99px;
      text-align: center;
      color: #212121;
      background-image: url('https://cdn.shopify.com/s/files/1/0549/7667/6078/files/title-bg.png?v=1681375399') ;
      background-repeat: no-repeat;
      background-position: center 0;
      }
      .tt-can .tt-h2-title {
        width: 100%;
        height: 22px;
        font-family: 'Alibaba PuHuiTi 2.0';
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        color: #212121;
        text-align: center;
        margin-bottom:18.19px;
        }
      @media (min-width:411px) {
        .tt-can {
          width: 937.5px;
          border-radius: 15.625px;
          margin:0 auto;
        }
        .tt-can .tt-h1-title {
          font-size: 56.25px;
          margin:38.19px 0 18.19px 0;
        }
        .tt-can .tt-h2-title {
            font-size: 32.8125px;
          }
          .tt-can .tt-link-box-a {
            width: 937.5px;
        }
        .tt-can .tt-link-box-a .tt-l-link .tt-link-title {
            font-size: 31.25px;
        }
        .tt-can .tt-link-box-a .tt-l-link {
            padding:23.44px;
        }
      }
      @media (max-width:411px) {
        .tt-can {
          width: 410px;
          border-radius: 9.66px;
        }
        .tt-can .tt-h1-title {
          font-size: 32.25px;
          margin-top:18.19px;
        }
        .tt-can .tt-h2-title {
            font-size: 15.4589px;
          }
        .tt-can .tt-link-box-a {
            width: 410px;
        }
        .tt-can .tt-link-box-a .tt-l-link .tt-link-title {
            font-size: 16px;
        }
        .tt-can .tt-link-box-a .tt-l-link {
            padding:12.44px;
        }
      }
      .tt-link-box {
        margin-bottom:31.25px;
    }
      .tt-can .tt-link-box-a {
        background: #FCF3E7;
        border-radius: 15.625px;
        display:flex;
    }
    .tt-can .tt-link-box .tt-2-link {
        width:calc( 100% / 2 - 20px );
        flex:1;
    }
    .tt-can .tt-link-box-a .tt-l-link .tt-link-title {
        font-family: 'Alibaba PuHuiTi 2.0';
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
    }
    .tt-can .tt-link-box-a .tt-l-link .tt-link-arrow {
        padding-left:3px;
        width: 44px;
        height:24px;
        border-radius:10px;
        border:1px solid #212121;
    }
    </style>
  <section class="tt__section_can">
    <div class="tt-can">
        <div class="tt-h1-title">{{ section.settings.anniversary_big_title }}</div>
        <div class="tt-h2-title">{{ section.settings.anniversary_little_title }}</div>
        <div class="tt-link-box">
            <a class="tt-link-box-a" href="#">
                <div class="tt-l-link tt-2-link">
                    <p class="tt-link-title">{{block.settings.anniversary1_title}}</p>
                    <div class="tt-link-arrow">
                        <svg t="1681287424746" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2730" width="200" height="200"><path d="M709.845333 250.346667a22.4 22.4 0 0 1 0.533334-30.848 20.48 20.48 0 0 1 29.717333 0.64l272.426667 292.693333-272.426667 292.650667a20.458667 20.458667 0 0 1-29.717333 0.64c-8.32-8.32-8.746667-21.973333-0.533334-30.848l242.346667-262.464-242.346667-262.464z" fill="#212121" p-id="2731"></path></svg>
                    </div>
                </div>
                <div class="tt-r-link tt-2-link">
                    <img src="../assets/link-1.png" alt="" width="100%" height="100%">
                </div>
            </a>
        </div>
    </div>
  </section>
{% schema %}
    {
        "name": "tt-anniversarySale-1",
        "settings": [
          {
            "type": "text",
            "id": "anniversary_big_title",
            "label": "推荐大标题",
            "default": "Can’t Decide?"
        },
        {
            "type": "text",
            "id": "anniversary_little_title",
            "label": "推荐小标题",
            "default": "Check out HOZO’s Ultimate Guide"
        }
        ],
        "blocks": [
            {
                "type": "anniversary-1",
                "name":"新增块",
                "settings": [
                    {
                        "type": "text",
                        "id": "anniversary1_title",
                        "label": "标题1",
                        "default": "How to choose your First HOZO product?"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "产品背景图"
                    }
                ]
            }
          ]
    }
{% endschema %}
{% javascript %}
{% endjavascript %}