<style>
    .tt-bigBox {
      background-color: #000;
      padding-top: 120px;
      padding-bottom: 200px;
    }

    .tt-bigBox .tt-h1-title {
        background-color: #000;
        padding-top: 120px;
        padding-bottom: 200px;
      }
    }
  </style>
<div class="tt-bigBox">
    <div class="tt-h1-title">  Recommended Deals </div>
</div>