@media (max-width: 1400px){
.hozo__drw-imright img {
    right: 0;
}    
}

@media (max-width: 768px){


.tab-price-main .mg-tag {
    padding: 1px 0;
}


}
@media (max-width: 767px){
.container, .container-md, .container-sm {
    max-width: 100%;
}
section.cork__hozo .container {
    padding: 0;
    overflow: hidden;
}
section.cork__hozo .container iframe {
    border-radius: 0px !important;
    height: 270px;
    width: 130% !important;
    position: relative;
    left: -15%;
}
section.hozo-newsletter input {
    height: 74px;
    font-size: 20px;
    margin-bottom: 18px;
}
section.hozo-newsletter button {
    border-radius: 17px;
    font-size: 23px;
    height: 61px;
    padding: 0px 35px;
}
section.hozo-newsletter button img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
section.hozo-newsletter form {
    margin: 40px auto 0 auto;
}
.hozo__price-check img {
    width: 45px;
}
.hozo__price-main h2 {
    font-size: 43px;
}
.hozo__price-nop h5 {
    font-size: 20px;
}
.hozo__price-lowesth h3 {
    font-size: 24px;
}
.hozo__price-lowesth h4 {
    font-size: 17px;
}
.hozo__kickstarter img {
    width: 100%;
    max-width: 174px;
}
.hozo__price-d {
    max-width: 312px;
    margin: 39px auto 39px auto;
}
.hozo__subcnt {
    flex-wrap: wrap;
}
.hozo__subleft {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
.hozo__subleft  h2 {
    font-size: 37px;
    font-weight: 500;
    padding-bottom: 15px;
}
.hozo__subleft p {
    font-size: 18px;
}
.hozo__subright {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
}
.hozo__subright h3 {
    color: #29DDBD;
    font-size: 54px;
    font-weight: normal;
    margin-top: 30px;
    padding-bottom: 5px;
}
.hozo__subright p {
    font-size: 28px;
}
.hozo__subcnt {
    padding-bottom: 49px;
}
.hozo__menzorhed h2 {
    letter-spacing: 3px;
    font-size: 31px;
}
.hozo__menzorhed {
    padding-bottom: 57px;
    padding-top: 17px;
}
.hozo__prd-compactbg h3 {
    font-size: 19px;
    line-height: 26px;
    padding: 0 20px;
}
.hozo__prd-compactbg {
    height: 550px;
    padding: 74px 0;
}
/* .hozo_3dcoloum h2 {
    letter-spacing: 5px;
    font-size: 27px;
} */
/* .hozo_3dcoloum {
    padding-top: 62px;
} */
.hozo__btnsection-3d p {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 7px;
    padding-top: 13px;
}
.hozo__btnsection-3d img {
    height: 87px;
}
.hozo__3dfirst::after {
    display:none !important;
}
.hozo__3dfirst {
    height: 490px;
}
.hozo__3dfirst::before {
    display:none !important;
}
  .cork__mobile-connectmedia-inner .nav-item a:after {
    content: "";
    background: rgb(0 0 0 / 10%);
    height: 8px;
    width: 29px;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
}

  .a-box-img img {
    height: 65px;
    max-width: 85px;
    object-position: center;
    object-fit: contain;
}
.auto-box-main {
    background: #F5F5F7;
    border-radius: 14px;
    padding: 15px 15px 15px 115px;
    position: relative;
} 
.a-box-img {
    background: #F5F5F7;
    padding: 0;
    border-radius: 0;
    position: absolute;
    left: 16px;
    top: 23px;
}
  
.hozo__3dfirst h3 {
    font-size: 28px;
    padding-top: 31px;
}
.hozo_ultra--3dc h2 {
    letter-spacing: 4px;
    right: 0;
    font-size: 26px;
}
.hozo_ultra--3dc p {
    font-size: 16px;
    text-align: center;
    padding-top: 4px;
}
img.cork__hozo-fimg {
    position: relative;
    right: -23px;
    width: 100%;
    max-width: 800px;
    margin-top: 11px;
    margin-bottom: 54px;
}
img.cork__hozo-simg {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    position: relative;
    right: -30px;
}
/* .hozo_beyond--sec h2 {
    font-size: 23px;
} */
/* .hozo__beyond-1 h3 {
    font-size: 35px;
} */
section.hozo_beyond--sec .row .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
section.hozo_beyond--sec .row .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.hozo__beyond-2, .hozo__beyond-22 {
    padding-right: 0;
}
.hozo__beyond-1 p {
    color: #fff;
    font-size: 12px;
}
/* .hozo__beyond-2 h4, .hozo__beyond-22 h4 {
    font-size: 17px;
    padding-left: 6px;
} */
.hozo__pg--bar {
    height: 6px;
}
.hozo__beyond-1 h4 {
    font-size: 14px;
    padding-top: 28px;
}
.hozo__beyond-22 .hozo__pg--bar {
    max-width: 72%;
}
.hozo_beyond--sec .row > div {
    padding: 0 5px;
}
section.hozo_beyond--sec .container {
    padding-left: 26px;
    padding-right: 18px;
}
.hozo__beyond-2 {
    padding-bottom: 23px;
}
/* .hozo__beyond-1 h4:last-child {
    padding-top: 46px;
    color: #fff;
} */
/* .hozo__beyond-1 h3 {
    font-size: 35px;
    margin: 14px 0 10px 0;
} */
/* .hozo_beyond--sec {
    background: url('https://cdn.shopify.com/s/files/1/0549/7667/6078/t/19/assets/beyond-mobile1.png?v=1661190345');
    background-size: cover !important;
    background-position: center !important;
    padding-bottom: 10px;
} */
/* .hozo_beyond--dataimg {
    background: url('https://cdn.shopify.com/s/files/1/0549/7667/6078/t/19/assets/beyond-mb-2.png?v=1661190345');
    background-size: cover !important;
    background-position: center !important;
    padding-top: 0;
    padding-bottom: 20px;
} */
/* .hozo__beyond-imgbig {
    margin-top: 0;
    text-align: center;
} */
.hozo__beyond-imgbig img {
    width: 100%;
    max-width: 240px;
}
.hozo_beyond--dataimg ul li img {
    height: 41px;
}
.hozo__datacnts {
    padding-left: 17px;
}
.hozo__datacnts h4 {
    font-size: 18px;
    padding-bottom: 4px;
}
.hozo__datacnts p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 400px;
    margin: 0;
    line-height: 17px;
}
/* .hozo_beyond--dataimg ul li {
    margin-bottom: 45px;
} */
/* .hozo_beyond--dataimg ul {
    list-style: none;
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
    display: none;
} */
.nozo__dataimgbtn {
    text-align: center;
    margin-top: 50px;
    display: block;
    padding-bottom: 40px;
}
.hozo_mazorapp {
    background: none;
    padding: 50px 0;
}
.hozo__mazoleft-cnt {
    width: 100%;
    max-width: 100%;
    text-align: center;
}
/* .hozo__mazoleft-cnt h2 {
    letter-spacing: 5px;
    font-size: 28px;
} */
.hozo__mazoleft-cnt img {
    width: 100px;
    margin: 30px auto 25px;
    display: block;
}
.hozo__mazoleft-cnt p {
    font-size: 16px;
    color: #31a2d6;
    margin-bottom: 4px;
}
.hozo_maz-para {
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}
.hozo__drawing-cnt {
    text-align: center;
}
.hozo__drawing-cnt h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.hozo__drawing-cnt p {
    font-size: 16px;
    margin: 16px 0 40px 0;
}
.hozo_drawingmd {
    background: #EDF4FB;
    padding: 40px 0 60px;
}
section.hozo_listmode .col-md-6:last-child {
    order: -1;
    padding-bottom: 25px;
}
.hozo_listmode {
    padding: 55px 0 0;
    overflow: hidden;
}
.hozo__listmode-mobile{
    display: block;
}
.hozo__listmode-desktop{
    display: none;
}
.hozo__listmode-mobile {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
section.hozo_photodim .col-md-6:last-child {
    order: -1;
}
section.hozo_photodim .hozo__photo-img img {
    width: 100%;
    max-width: 200px;
    transform: rotate(16deg);
}
section.hozo_photodim .hozo__photo-img {
    padding-bottom: 70px;
}
section.hozo_photodim {
    padding-bottom: 10px;
}
.hozo_connectmedia h2 {
    font-size: 20px;
    max-width: 230px;
    margin: 0 auto 10px auto;
}
.hozo_connectmedia h2 span {
    color: #15A6BD;
    text-transform: uppercase;
}
.hozo__blue-img img {
    width: 30px;
    margin-top: 19px;
    margin-bottom: 35px;
}
.hozo__fot-nelet form {
    flex-wrap: wrap;
}
.hozo__fot-nelet form > div:first-child {
    flex: 0 0 100%;
    max-width: 100%;
}
.hozo__fot-nelet form > div:last-child {
    margin-left: 0;
}
.hozo__fot-nelet button {
    height: 68px;
}
.hozo__fot-nelet form input {
    height: 72px;
    font-size: 16px;
    margin-bottom: 16px;
}
.hozo__mobile--newcnts{
    display: block;
}
.hozo__mobile--newcnts .hozo__subleft h2 {
    margin-bottom: 0;
}
.hozo__mobile--newcnts p {
    margin-bottom: 15px;
    font-size: 20px;
}
.hozo__fot-nelet > img {
    margin: 64px auto 24px auto;
    display: block;
}
.hozo__subcnt .hozo__subleft h2 {
    display: none;
}
.hozo__fot-nelet form {
    margin-bottom: 21px;
}
.hozo__subright .hozo__subright h3 {
    margin-top: 20px;
}
.cork__mobile-connectmedia-inner .nav-tabs li a span {
    height: 12px;
    width: 12px;
    background: #DCDCDC;
    border-radius: 50%;
    margin: 0 auto 19px auto;
    display: block;
    transition: all 0.4s;
}
.cork__mobile-connectmedia-inner{
    display: block;
}
.cork__mobile-connectmedia-inner .nav-tabs li a {
    padding: 0;
}
.cork__mobile-connectmedia-inner .nav-tabs li a img {
    width: 105px;
    height: 90px;
    margin: 0 auto;
    display: block;
}
.cork__mobile-connectmedia-inner .nav-tabs li .nav-link.active {
    border: none !important;
}
ul#myTab > li {
    width: 33.33%;
}
ul#myTab {
    margin-bottom: 20px;
    border: none;
}
.cork__tab-mobiles {
    height: 400px;
    overflow: hidden;
}
.cork__tab-mobiles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cork__mobile-connectmedia-inner .nav-tabs li .nav-link.active span {
    background: #15a6bd;
}
.hozo_connectmedia-inner {
    display: none;
}
/* .corl__3dmobile--div {
    display: block;
} */
.hozo_3dcoloum {
    padding-bottom: 60px;
}
.hozo_all6scnd {
    height: auto;
    margin: 0 auto;
    position: initial;
    visibility: visible;
    opacity: 1;
}
.videotext {
    display: none;
}
.hozo_six-onehed {
    padding-bottom: 70px;
}
.hozo_all6scnd video {
    width: 75%;
    height: 100%;
}
.hozo_all6first {
    padding-top: 21px;
    padding-bottom: 50px;
}
.hozo_all6first h4 {
    font-size: 19px;
    color: #000000;
    font-weight: 400;
    margin: 20px 0 0 0;
}
.hozo_ultrahed img {
    width: 100%;
    max-width: 318px;
    position: relative;
    right: 0;
}
.hozo_ultrahed2 img {
    margin: 0 auto !important;
    width: 90% !important;
}
section.hozo_3dcoloum .hozo__3dfirst .hozo__btnsection-3d img {
    height: 100%;
    object-fit: cover;
}

/*   20thsept2022*/

  .mezor__product-pluginout .new-list li p {
    line-height:19px!important;
  }

  .tab-price-main {
      flex-direction: column;
      align-items: flex-start;
  }
  
  .tab-price-main div {
      margin-top: 5px;
  }
  
  .tab-price-main span {
      padding: 0!important;
  }

  
  .price-main .new_price {
      margin-top: 20px;
      display: block;
  }
  .special-variant-specification.activevari {
      font-size: 14px;
      line-height: 15px;
      margin-top: 20px;
      padding-left: 13px;
  }



.tab-price-main .mg-tag {
    padding: 1px 0;
}

  .video-button3 {
    bottom: 20px;
  }
    
  
  .video-inner p {
      font-weight: 700;
      font-size: 22px;
      line-height: 25px;
      text-align: center;
      color: #fff!important;
    padding:0 15px;
  }

  .video-inner {
    position: absolute;
    top: 40%;
  }
/* ul.rollova-list li {
    flex-direction: column!important;
    align-items: center;
    margin-left: 5px;
    flex: 1 0 40%;
    height: auto!important;
    padding: 15px!important;
} */

/*   ul.rollova-list {
    display:flex;
  } */
  
}


@media (max-width: 590px){
  .mezor__product-pluginout .new-list li p {
      line-height: 16px!important;
      font-size: 14px!important;
  }
 
}

