<section class="user-manual">

  <div class="container">
    <div class="section-title">
      <h2>User Manuals</h2>
    </div>
    <div class="row">
      <div class="col-md-2 px-0">
        <div class="user-manual-inner user-manual-inner1">
          <div class="user-inner">
            <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/japan.png?v=1635767748">
            <h1>ROLLOVA</h1>
            <p>日本語<br>マニュアル</p>
            <a href=""><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/agenda.png?v=1635753481"></a>
          </div>
        </div>
      </div>
      <div class="col-md-2 px-0">
        <div class="user-manual-inner user-manual-inner2">
          <div class="user-inner">
            <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/united-states.png?v=1635753227">
            <h1>ROLLOVA</h1>
            <p>ENGLISH<br>USER MANUAL</p>
            <a href=""><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/agenda.png?v=1635753481"></a>
          </div>
        </div>
      </div>
      <div class="col-md-2 px-0">
        <div class="user-manual-inner user-manual-inner3">
          <div class="user-inner">
            <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/china.png?v=1635767867">
            <h1>ROLLOVA</h1>
            <p>简体中文<br>マニュアル</p>
            <a href=""><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/agenda.png?v=1635753481"></a>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 px-0">
        <div class="user-manual-inner user-manual-inner4" style="background-image:url('https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/user-manual1.jpg?v=1635832908')">
          <div class="user-inner">
            <a href=""><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/youtube1.jpg?v=1635831789"></a>
            <p>Subscribe Our Youtube Channel<br>For More Video Instructions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
	
</section>



<section class="user-manual">

  <div class="container">
    <div class="que-head">
      <h2>Still Have Questions?</h2>
      <p>Check the followings for more detail</p>
    </div>
    <div class="row">
      <div class="col-md-3 px-0">
        <div class="user-manual-inner user-manual-inner4" style="background-image:url('https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/que1.jpg?v=1635762716')">
          <div class="user-inner">
            <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/information.png?v=1635767252">
            <a href=""><p>FAQ</p></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-0">
        <div class="user-manual-inner user-manual-inner4" style="background-image:url('https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/que1.jpg?v=1635762730')">
          <div class="user-inner">
            <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/delivery.png?v=1635767162">
            <a href="{{shop.url}}/pages/shipping-policy"><p>SHIPPING</p></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-0">
        <div class="user-manual-inner user-manual-inner4" style="background-image:url('https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/que2.jpg?v=1635762730')">
          <div class="user-inner">
            <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/warranty.png?v=1635767100">
            <a href="{{shop.url}}/pages/warranty-policy"><p>WARRANTY</p></a>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 px-0">
        <div class="user-manual-inner user-manual-inner4" style="background-image:url('https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/que3.jpg?v=1635762740')">
          <div class="user-inner">
            <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/3/assets/refund.png?v=1635766768">
            <a href="{{shop.url}}/pages/return-refund"><p>RETURN & REFUND</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
	
</section>