 <section class="Products">
      <div class="container">
        <div class="top-content5">
          <h2>Warranty Services</h2>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="Warranty-contet">
              <div class="Warranty-hading">
                <h6>WHAT it covers?</h6>
                <p><a href="warranty-policy.html" target="_blank">HOZO Design. CO.  - One-year Limited Consumer Warranty</a> covers your product against manufacturing defects for one year from the date you bought your product. The HOZO Limited Warranty is in addition to rights provided by consumer law.</p>
                <p>Our warranty doesn't cover damage caused by accidents or unauthorized modifications. See the warranty for complete details. You can check your coverage status by checking purchasing record. If our warranty, or consumer law don't cover your repair, you'll pay out-of-warranty fees.</p>
                <p>** THIS WARRANTY PROGRAM DOES NOT APPLY TO ACCESSORIES **</p>
              </div>
              <div class="Warranty-hading">
                <h6>HOW to claim? </h6>
                <p>To obtain remedies under this Warranty, HOZO Design. CO., must receive Consumer’s claim before the end of the Warranty Period. Please contact <a href = "mailto:support@hozodesign.com?subject = HOZO Design Product - Warranty Request = Message"> Customer Support</a> to obtaina Return Merchandise Authorization(RAM)</p>
              </div>
             
              
            </div>
            
          </div>
          
        </div>
        
      </div> 
   </div>
    </section>






