<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css'>
{% section 'h-support-about' %}
{% section 'support-about' %}
{% comment %}
<section class="about-hozo-section">
    <div class="container">
        <div class="about-hozo-section-row">
            <div class="about-hozo-section-col-12">
            <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/about-img-new.png?v=1665052420">
        </div>
            <div class="about-hozo-contant-col-12">
                <div class="about-hozo-contant-col-4">
                        <h2>About HOZO</h2>
                </div>    
                <div class="about-hozo-contant-col-8">
                    <p>HOZO Design is an emerging high-tech company dedicated to world's leading innovative design and development of intelligent consumer electronics.</p>
                <p>With the idea of "design + intelligence", HOZO strives to bring the aesthetics of technology to global consumers with diversified new products.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="spacer">
            <div class="container">
        <div class="about-hozo-date-inner">
                <div class="support-about-hozo-section">
                    <div class="testi-user-img">
                    <div class="swiper-container gallery-thumbs">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <h1 class="u3">2018</h1>
                            </div>
                            <div class="swiper-slide">
                               <h1 class="u1">2019</h1>
                            </div>
                            <div class="swiper-slide">
                              <h1 class="u2">2020</h1>
                            </div>
                        
                            <div class="swiper-slide">
                              <h1 class="u4">2021</h1>
                            </div>
                            <div class="swiper-slide">
                              <h1 class="u4">2022</h1>
                            </div>
                            <div class="swiper-slide">
                              <h1 class="u4">2023</h1>
                            </div>
                          
                          </div>
                      </div>
                    </div>
                    <div class="user-saying">
                          <div class="swiper-container support-about-hozo-slider">
                                  <!-- Additional required wrapper -->
                                  <div class="swiper-wrapper ">
                                      <!-- Slides -->
                                      <div class="swiper-slide">
                                          <div class="support-about-hozo-slider-row">
            <div class="support-about-hozo-slider-col-4">
                <div class="support-about-hozo-slider-col-4-left">
                        <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/about-2018.png?v=1665054438">
                    </div>
            </div>
            <div class="support-about-hozo-slider-col-8">
                <div class="support-about-hozo-slider-col-4-right">
                        <h2>HOZO is Born in Rochester, NY</h2>
                        <p>Launched ROLLOVA - the world’s 1st digital rolling ruler on Kickstarter in RIT studio with a strong passion for bringing technology to people’s lives with authentic design.</p>
                    </div>
            </div>
        </div>
                                      </div>
                                      <div class="swiper-slide">
                                           <div class="support-about-hozo-slider-row">
            <div class="support-about-hozo-slider-col-4">
                <div class="support-about-hozo-slider-col-4-left">
                        <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/about-2019.png?v=1665128236">
                    </div>
            </div>
            <div class="support-about-hozo-slider-col-8">
                <div class="support-about-hozo-slider-col-4-right">
                        <h2>Set up R&D Center in Hong Kong</h2>
                        <p>Kickoff product development to build a product that would resonate on a global scale with a core technological challenge and a compelling impact on the industry.</p>
                    </div>
            </div>
        </div>
                                      </div>
                                      <div class="swiper-slide">
                                          <div class="support-about-hozo-slider-row">
            <div class="support-about-hozo-slider-col-4">
                <div class="support-about-hozo-slider-col-4-left">
                        <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/about-2020.png?v=1665128236">
                    </div>
            </div>
            <div class="support-about-hozo-slider-col-8">
                <div class="support-about-hozo-slider-col-4-right">
                        <h2>Began to Grow in Guangzhou</h2>
                        <p>Bringing together industrial leading product designers, geomatics experts, mechanical engineers and passionate storytellers.</p>
                    </div>
            </div>
        </div>
                                      </div>
                                      <div class="swiper-slide">
                                               <div class="support-about-hozo-slider-row">
            <div class="support-about-hozo-slider-col-4">
                <div class="support-about-hozo-slider-col-4-left">
                        <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/about-2021.png?v=1665128235">
                    </div>
            </div>
            <div class="support-about-hozo-slider-col-8">
                <div class="support-about-hozo-slider-col-4-right">
                        <h2>Introducing MEAZOR to the World</h2>
                        <p>3 years after the original idea was born, HOZO launched the flagship product – MEAZOR on Kickstarter, and the international jury committee honored it with Good Design Award 2021.</p>
                    </div>
            </div>
        </div>
                                          </div>
                                          <div class="swiper-slide">
                                               <div class="support-about-hozo-slider-row">
            <div class="support-about-hozo-slider-col-4">
                <div class="support-about-hozo-slider-col-4-left">
                        <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/about-2022.png?v=1665128236">
                    </div>
            </div>
            <div class="support-about-hozo-slider-col-8">
                <div class="support-about-hozo-slider-col-4-right">
                        <h2>MEAZOR 3D is Born, Better and Stronger</h2>
                        <p>After reviewing thousands of feedback from MEAZOR users, we learned from the community and launched the next generation, MEAZOR 3D, chosen by Kickstater as Project We Love.</p>
                    </div>
            </div>
        </div>
                                          </div>
                                          <div class="swiper-slide">
                                               <div class="support-about-hozo-slider-row">
            <div class="support-about-hozo-slider-col-4">
                <div class="support-about-hozo-slider-col-4-left">
                        <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/about-2023.png?v=1665128236">
                    </div>
            </div>
            <div class="support-about-hozo-slider-col-8">
                <div class="support-about-hozo-slider-col-4-right">
                        <h2>Beyond Future</h2>
                        <p>HOZO team is driven by an obsessive passion for creating better products to make a better life. Be the first to know about our latest innovations by following our newsletter.</p>
                    </div>
            </div>
        </div>
                                          </div>
                                      
                                  </div>
                                  <!-- If we need pagination -->
                                  <div class="swiper-pagination swiper-pagination-white"></div>
                              
                              </div>
                    </div>
                </div>
         
              </div>
               <div class="about-shop-btn"><a href="https://hozodesign.com/collections/all">Shop HOZO Products</a></div>
            </div>
            </section>


 <section class="about-award-winning-team">
   <div class="container">
     <div class="measzor-top-heading">
       <span>Award Winning Team</span>
    </div>
<div class="about-award-winning-team-row">
  <div class="about-award-winning-team-col-12">
     <div class="owl-carousel owl-theme award-winning-team-silder">
    <div class="item">
      <div class="about-award-winning-team-silder-row">
        <div class="about-award-winning-team-col-12">
        <div class="award-winning-team-contant-col-12">
          <h1>“Great product design inspires new lifestyle revolution , and shall reinforce technology to serve better for a greater community.</h1>
          <div class="award-winning-team-member-name">
            <p>Co-Founder Chief Design Officer</p>
<p>Peter Liang</p>
          </div>
        </div>
        </div>
          <div class="about-award-winning-team-col-12">
            <div class="award-winning-team-img-col-12">
          <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/team-img-1.png?v=1665132314">
        </div> 
          </div>
        </div>
      </div>
        <div class="item">
      <div class="about-award-winning-team-silder-row">
        <div class="about-award-winning-team-col-12">
        <div class="award-winning-team-contant-col-12">
          <h1>“Great product design inspires new lifestyle revolution , and shall reinforce technology to serve better for a greater community.</h1>
          <div class="award-winning-team-member-name">
            <p>Co-Founder Chief Design Officer</p>
<p>Peter Liang</p>
          </div>
        </div>
        </div>
          <div class="about-award-winning-team-col-12">
            <div class="award-winning-team-img-col-12">
          <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/team-img-1.png?v=1665132314">
        </div> 
          </div>
        </div>
      </div>
        <div class="item">
      <div class="about-award-winning-team-silder-row">
        <div class="about-award-winning-team-col-12">
        <div class="award-winning-team-contant-col-12">
          <h1>“Great product design inspires new lifestyle revolution , and shall reinforce technology to serve better for a greater community.</h1>
          <div class="award-winning-team-member-name">
            <p>Co-Founder Chief Design Officer</p>
<p>Peter Liang</p>
          </div>
        </div>
        </div>
          <div class="about-award-winning-team-col-12">
            <div class="award-winning-team-img-col-12">
          <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/team-img-1.png?v=1665132314">
        </div> 
          </div>
        </div>
      </div>
        <div class="item">
      <div class="about-award-winning-team-silder-row">
        <div class="about-award-winning-team-col-12">
        <div class="award-winning-team-contant-col-12">
          <h1>“Great product design inspires new lifestyle revolution , and shall reinforce technology to serve better for a greater community.</h1>
          <div class="award-winning-team-member-name">
            <p>Co-Founder Chief Design Officer</p>
<p>Peter Liang</p>
          </div>
        </div>
        </div>
          <div class="about-award-winning-team-col-12">
            <div class="award-winning-team-img-col-12">
          <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/team-img-1.png?v=1665132314">
        </div> 
          </div>
        </div>
      </div>
    </div>  
</div>
  </div>

</div>
 </section>  
 <section class="about-teams-images">
   <div class="container">
     <div class="about-teams-imagr-row">
  <div class="about-teams-image-col">
  <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/about-teams-image-1.png?v=1665132948">
  </div>
     </div>
   </div>
 </section>
{% endcomment %}

