   <section class="Products">
      <div class="container">
        <div class="top-content5">
          <h2>Warranty</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="Warranty-contet">
              <div class="Warranty-hading">
                <h4 class="Design">HOZO Design. CO.  - One-year Limited Consumer Warranty Details </h4>
                <h6> ** THIS WARRANTY PROGRAM DOES NOT APPLY TO ACCESSORIES ** </h6>
                <p>Warrantor: This one-year limited consumer warranty (“Warranty”) is issued by HOZO Design. CO., a corporation in the New York State, doing business as HOZO Design. CO (“HOZO Design”). </p>
                <p>Warranty: HOZO Design. CO. issues this Warranty to a consumer (“Consumer” or “you”) who buys a new, covered device from an authorized reseller or directly from HOZO Design Official Online Store. This Warranty cannot be assigned or transferred to any subsequent purchaser or user. </p>
                <p>Covered Device: A new, physical HOZO Design product. The Device is covered by this Warranty if HOZO Design. CO. includes this Warranty in the original packaging or if HOZO Design. CO. offers or references this Warranty as part of an online sales or product set-up process. Product registration is not required as a condition to warranty coverage. </p>
              </div>
              <div class="Warranty-hading">
                <h6> Warranted Functionality: </h6>
                <p>HOZO Design. CO. warrants to the Consumer that the Device will under normal use function substantially in accordance with HOZO Design. CO.’s technical specifications or accompanying product documentation (“Warranted Functionality”) for a period of one (1) year from date of original purchase (“Warranty Period”). If and to the extent the Device needs HOZO Design. CO. software or services to achieve the Warranted Functionality, HOZO Design. CO. will make and keep software and services available during the Warranty Period provided, however, that HOZO Design. CO. may update, modify or limit such software and services at HOZO Design. CO.’s sole discretion so long as the Warranted Functionality is maintained or exceeded. </p>
              </div>
              <div class="Warranty-hading">
                <h6> Warranty Exclusions:  </h6>
                <p>This Warranty is limited and is not applicable to:</p>
                <ul>
                    <li>(i) normal wear and tear;</li>
                    <li>(ii) defects or damage caused by misuse, accident (including without limitation collision, fire and the spillage of food or liquid), neglect, abuse, alteration, unusual stress, modification, improper or unauthorized repair, installation, wiring, or testing, improper storage, use with unsuitable devices, software or services;</li>
                    <li>(iii) use, not in accordance with the documentation;</li>
                    <li>(iv) damage caused by third party equipment with which the Device is used;</li>
                    <li>(v) commercial use or resale,</li>
                    <li>(vi) used or resold products;</li>
                    <li>(vii) use for medical, healthcare or treatment purposes; and</li>
                    <li>(viii) features or performance parameters pertaining to any software or services beyond the Warranted Functionality of the Device.</li>
                </ul>
                <p>For purposes of clarification, without limiting the generality of the preceding exclusions, this Warranty does not include any specific guarantees regarding uptime or continued availability, data security features of apps or online accounts or that any software, firmware or online sites will function uninterrupted or error-free. This limited warranty is void if a Device is returned with removed, damaged or tampered labels or any alterations (including the unauthorized removal of any component or external cover). This limited warranty does not cover data loss; back up, write down and/or print out your data on a regular basis. Also, consequential damages; incidental damages; and costs related to data recovery, removal, and installation are not recoverable under this warranty. Except as set forth in this Warranty, HOZO Design. CO. does not extend any express or implied warranties or representations regarding the Device or any connected software or online services. </p>
                <p>UNDER THIS WARRANTY, HOZO DESIGN. CO. DOES NOT ASSUME ANY LIABILITY FOR ANY SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES OF ANY NATURE WHATSOEVER INCLUDING BUT NOT LIMITED TO LOSS OF PROFITS OR REVENUES, LOSS OF DATA, LOSS OF USE OF THE DEVICE OR ANY ASSOCIATED EQUIPMENT, COST OF ANY REPLACEMENT GOODS OR SUBSTITUTE EQUIPMENT, LOSS OF USE DURING THE PERIOD THAT THE DEVICE IS BEING REPAIRED, CLAIMS OF ANY THIRD PARTIES, OR ANY OTHER DAMAGES ARISING FROM HOZO DESIGN. CO.’S BREACH OF THIS LIMITED WARRANTY OR THE USE OF THE DEVICE, REGARDLESS OF THE FORM OF ACTION WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL OR EQUITABLE THEORY. </p>
              </div>
              
                <p>Consumer shall bear the cost of shipping the Device to HOZO Design. CO. By sending the Device, Consumer agrees to transfer ownership to HOZO Design. CO. HOZO Design. CO. may not return the original Device to Consumer. Any replacement Device will not contain Consumer’s data. HOZO Design. CO. warrants that any repaired or replaced Device is covered for the greater of either the remainder of the original Warranty Period or 90 days following Consumer’s receipt of the repaired or replacement Device. Any product returned to HOZO Design. CO. without a valid warranty claim or without a RMA may be rejected, returned at sender’s cost (subject to prepayment) or kept for 30 days for sender’s pick-up and then disposed of in HOZO Design. CO.’s sole discretion.</p>
              </div>
              
          </div>
        </div>
         </div>
          </div>
    </section>