{% comment %} <section class="about-product">
  <div class="container">
    <div class="head-section">
      <h2>About Product</h2>
    </div>

    <div class="row">
      <div class="col-md-4 d-flex">
        <div class="about-product-inner flex-fill">
          <div class="about-product-image">
            <a href="#">
              <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/23/assets/about-product1.png?v=1664306022" class="img-fluid">
            </a>
          </div>
          <div class="about-product-content">
            <a href="#"><p>MEAZOR  Support <i class="fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex">
        <div class="about-product-inner flex-fill">
          <div class="about-product-image">
            <a href="#">
              <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/23/assets/about-product2.png?v=1664306397" class="img-fluid">
            </a>
          </div>
          <div class="about-product-content">
            <a href="#"><p>MEAZOR 3D Support <i class="fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex">
        <div class="about-product-inner flex-fill">
          <div class="about-product-image">
            <a href="#">
              <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/23/assets/about-product3.png?v=1664306429" class="img-fluid">
            </a>
          </div>
          <div class="about-product-content">
            <a href="#"><p>ROLLOVA Support <i class="fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-product about-product1">
  <div class="container">
    <div class="head-section">
      <h2>About Product</h2>
    </div>

    <div class="row">
      <div class="col-md-4 d-flex">
        <div class="about-product-inner flex-fill">
          <div class="about-product-image">
            <a href="#">
              <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/23/assets/about-order1.png?v=1664306753" class="img-fluid">
            </a>
          </div>
          <div class="about-product-content">
            <a href="#"><p>Shipping <i class="fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex">
        <div class="about-product-inner flex-fill">
          <div class="about-product-image">
            <a href="#">
              <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/23/assets/about-order2.png?v=1664306763" class="img-fluid">
            </a>
          </div>
          <div class="about-product-content">
            <a href="#"><p>Return & Refund <i class="fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex">
        <div class="about-product-inner flex-fill">
          <div class="about-product-image">
            <a href="#">
              <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/23/assets/about-order3.png?v=1664306831" class="img-fluid">
            </a>
          </div>
          <div class="about-product-content">
            <a href="#"><p>Warranty <i class="fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 {% endcomment %}
<!-- <section class="support-section">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-12 h-100">
        <div class="support-inner h-100" style="background-image:url('https://cdn.shopify.com/s/files/1/0549/7667/6078/t/23/assets/support-center.png?v=1664301623')">
          <div class="suooprt-inner-inner">
            <h6>Support Center</h6>
            <p>Get solutions from HOZO Team </p>
            <a href="#" class="learn-more">Submit your inquiry <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
{% section 'about-product' %}
{% section 'still-need-help-section' %}


