 <section class="Products">
      <div class="container">
        <div class="top-content5">
          <h2>Return & Refund</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="Warranty-contet">
              <div class="Warranty-hading">
                <h6> WHAT it covers? </h6>
                <p>Return & Refund Scope:<br> HOZO Design products are eligible to 14 day money-back guarantee for any reason. If the product you received does not meet your expectations, you can return them to us within 14 days of receiving your order.</p> 
                 <p>Please note: **We could ONLY credit return refunds to customers who have purchased from the hozodesign.com. If you wish to return a product of HOZO Design. CO. that you have bought elsewhere, please refer to your retailer. </p>
                <p>To be eligible for returns, </p>
                <p>•	Products must be in their unused condition with the original packing. We do not accept a returned item that has been worn, used, damaged, or altered in any way.
<br> •	Items with non-returnable marks and free gifts cannot be returned.
<br> •	We do not accept returned items that have been sent back without proper return requests.
<br> •	We do not offer Freight To Collect (FTC) service for the packages returned to us. The returns will be made at your own cost.
<br> •	Once the returned merchandise is received your money will be refunded back to you. HOZO Design cannot refund, reimburse, cover, or otherwise be responsible for any fees not paid to us. This includes any customs taxes or VAT as well as any return shipping costs you may incur in the refund process. Refunds are issued back to the original form of payment used to purchase the order. Once your refund is issued, you will receive a confirmation email.
<br> •	Note: The original shipping fee and Shipping Guarantee are non-refundable.
 </p>
              </div>
              <div class="Warranty-hading">
                <h6>HOW to return my items?</h6>
                <p>You have up to 14 days to start your return from the moment you receive the item. Please include the original packaging with your return.
                  <p>Items from different orders cannot be returned within the same package.</p>
                <p>Please DON'T return any damaged goods unless you're told to by a member of our support team. If you do this, it will delay us resolving your issue.</p>
                <p>Contact us and describe which item(s) you like to return and the reason for your return. </p> 

                <div class="return-heading">
                  
                </div>
            </div>
                <div class="return-form">
                    <div class="return-main">
                       <div style="margin:0 auto;" class="pxFormGenerator" id="UU4uqZxdZ8OmKeVEs1ALtA"></div>
                    </div>
                   </div>
              <div class="Warranty-hading">
                <h6> FOLLOW these steps to register your return </h6>
                <p>Step 1. CONTACT US</p>
                <p>Contact us and describe which item(s) you like to return and the reason for your return by fill out the table above.</p>
                <p>Step 2. GET RETURN INSTRUCTION</p>
                <p>Our customer support specialist will get in touch with your and will provide you return address with the detailed instructions.</p>
                <p>Step 3. RETURN THE ITEMS</p>
                <p>Put the item(s) in the original packaging and send it according to the return instruction. </p>
                <p>Step 4. REFUND OR EXCHANGE</p>
                <p>Once we receive your package, we will process the refund or exchange based on our return conditions within 72hours (may varies during holiday). </p>
                

                </div>
             <div class="Warranty-hading">
               <h6>Exclusions and Other Options:</h6>
                    <p>If the information above is not all filled in correctly or does not match our records, our customer support specialist will approach you. If any information is incorrect, we won't be able to guarantee the reception of the parcel nor refund.</p>
                    <p>If you have purchased your HOZO Design. CO. Products from one of our distribution partners, it is with them that you should directly refer to their Return & Refund Policy.</p>
                    <p>If, on the other hand, you want to return your HOZO Design. CO. Products because it doesn't work, we suggest you first take a look at the technical answers provided in our FAQ or contact our support team at: <a href="mailto:support@hozodesign.com" target="_self">support@hozodesign.com</a></p>
                </div>
          </div>
        </div>
         </div>
          </div>
    </section>