{% section 'meazor-section-banner-Rollova' %}

{% section 'user-mannual-section-Rollova' %}

{% comment %}{% section 'meazor-app-section' %} {% endcomment %}

{% section 'meazor-faq-section-Rollova' %}

{% section 'still-need-help-section-Rollav' %}

<!-- <section class="meazor-section-banner"> 
<div class="container">
  <div class="meazor-section-banner-inner">
    <div class="meazor-banner-col-8">
      <h2>MEAZOR 3D Support</h2>
      <p>Everything you need to know about MEAZOR 3D!</p>
    </div>
    <div class="meazor-banner-col-4">
      <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/3_1.png?v=1664799274">
      
    </div>
  </div>
</div>
</section>


<section class="rolvo-video"> 
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="rolvo-videos">
          <span><strong>Video Tutorial</strong></span>
          <div class="introducing-video2 wow fadeInUp animated animated" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">
                <iframe width="100%" height="520" src="https://www.youtube.com/embed/3PyhbeRsSC0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
           https://www.youtube.com/watch?v=tI-fJwX1Hrs
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- 
<section class="user-mannual-section">
  <div class="container">
    <div class="measzor-top-heading">
       <span>User Mannual</span>
    </div>
    <div class="user-mannual-inner">
      <div class="user-mannual-col-inner">
        <div class="user-mannual-col-contant">
          <ul>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_51.png?v=1664801148"></a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_40.png?v=1664801148"></a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_44.png?v=1664801149"></a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_43.png?v=1664801148"></a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_51.png?v=1664801148"></a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_41.png?v=16648011488"></a></li>
            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_42.png?v=1664801148"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- 
<section class="meazor-app-section">
  <div class="container">
    <div class="measzor-top-heading">
       <span>MEAZOR APP</span>
    </div>
    <div class="meazor-app-inner">
      <div class="meazor-app-col-2">
        <div class="meazor-app-child-1">
          <img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Frame_46.png?v=1664801948">
        </div>
      </div>
      <div class="meazor-app-col-6">
        <div class="meazor-app-child-2">
          <h2>MEAZOR APP 2.0</h2>
          <h3><span>Free </span>for life time</h3>
        </div>
      </div>
      <div class="meazor-app-col-4">
        <div class="meazor-app-child-3">
          <a href="https://app.apple.com/us/app/meazor/id1574713401"><img src="//cdn.shopify.com/s/files/1/0549/7667/6078/t/25/assets/apple_app_store.svg?v=69742865122091122431664616855"></a>
          <a href="https://play.google.com/store/apps/details?id=com.yufei.robbiva"><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/t/21/assets/google-play.png?v=1664381502"></a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="meazor-faq-section">
  <div class="container">
    
    <div class="faq-section-inner">
      <div class="measzor-top-heading">
       <span>MEAZOR 3D FAQ</span>
    </div>
      <div class="dropdown_c dropdown_click">
  <div class="selected">
   <span><img src="https://cdn.shopify.com/s/files/1/0549/7667/6078/files/Vector_11.png?v=1664804011"></span>
  </div>
  <div class="drop-content">
    <ul>
      <li>
        <ul class="accordion-list">
  <li>
    <h3>How much does a website cost?</h3>
    <div class="answer">
      <p>While we would love to be able to give a definitive, fixed price for a website, it really depends on the specific needs for each individual business. If one business needs a website comprised of five pages, while another has a substantially larger site of over 100 pages - obviously those projects are going to command different price points.</p>
      
      <p>With that being said - here are some general guidelines on what to expect from a pricing standpoint.</p>
      
      <p>If you can get by with a small website (between 3 - 10 pages) using a pre-designed template, you can expect to pay approximately $2,500.00. A mid-sized website that has anywhere from 11 - 25 pages, but still uses a pre-made template, will be between $3,000.00 - $5,000.00. If you have a lot of pages, are looking for something completely custom, or are looking for something that has special functionality such as eCommerce, custom calculators, or integrations with other services, you may be looking at anywhere from $10,000 - $20,000.</p>
      
      <p>Ultimately, the takeaway here is that we can accommodate projects of just about any budget - so long as expectations are set accordingly.</p> 
        
    </div>
  </li>
           <li>
    <h3>How much does a website cost?</h3>
    <div class="answer">
      <p>While we would love to be able to give a definitive, fixed price for a website, it really depends on the specific needs for each individual business. If one business needs a website comprised of five pages, while another has a substantially larger site of over 100 pages - obviously those projects are going to command different price points.</p>
      
      <p>With that being said - here are some general guidelines on what to expect from a pricing standpoint.</p>
      
      <p>If you can get by with a small website (between 3 - 10 pages) using a pre-designed template, you can expect to pay approximately $2,500.00. A mid-sized website that has anywhere from 11 - 25 pages, but still uses a pre-made template, will be between $3,000.00 - $5,000.00. If you have a lot of pages, are looking for something completely custom, or are looking for something that has special functionality such as eCommerce, custom calculators, or integrations with other services, you may be looking at anywhere from $10,000 - $20,000.</p>
      
      <p>Ultimately, the takeaway here is that we can accommodate projects of just about any budget - so long as expectations are set accordingly.</p> 
        
    </div>
  </li>
           <li>
    <h3>How much does a website cost?</h3>
    <div class="answer">
      <p>While we would love to be able to give a definitive, fixed price for a website, it really depends on the specific needs for each individual business. If one business needs a website comprised of five pages, while another has a substantially larger site of over 100 pages - obviously those projects are going to command different price points.</p>
      
      <p>With that being said - here are some general guidelines on what to expect from a pricing standpoint.</p>
      
      <p>If you can get by with a small website (between 3 - 10 pages) using a pre-designed template, you can expect to pay approximately $2,500.00. A mid-sized website that has anywhere from 11 - 25 pages, but still uses a pre-made template, will be between $3,000.00 - $5,000.00. If you have a lot of pages, are looking for something completely custom, or are looking for something that has special functionality such as eCommerce, custom calculators, or integrations with other services, you may be looking at anywhere from $10,000 - $20,000.</p>
      
      <p>Ultimately, the takeaway here is that we can accommodate projects of just about any budget - so long as expectations are set accordingly.</p> 
        
    </div>
  </li>
        </ul>
      </li>
     
        
      </li>
    </ul>
  </div>
</div>
    </div>
  </div>
</section>

<section class="more-specs-section">
  <div class="container">
    <div class="more-specs-section-inner">
      <a href="#">More specs<i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
</section> -->

<!--  <section class="still-need-help-section">
      <div class="container">
        <div class="still-need-help-section-inner" style="background-image:url(https://cdn.shopify.com/s/files/1/0549/7667/6078/files/1_3.png?v=1664808024);">
          <div class="still-need-help-col">
            <h1>Still need help?</h1>
            <p>Get solutions from HOZO Team</p>
             <a href="#">Submit your inquiry<i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
          
        </div>
      </div>
</section>  -->







