<div class="page-wrapper techpage-box">
    <section class="meazor-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-heading">
                        <h5>
                            <span>
                                <svg width="14" height="29" viewBox="0 0 14 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.675 28.0025C11.3762 28.0035 11.081 27.9376 10.811 27.8095C10.541 27.6815 10.3032 27.4945 10.115 27.2625L0.454976 15.2625C0.160812 14.9046 0 14.4558 0 13.9925C0 13.5293 0.160812 13.0804 0.454976 12.7225L10.455 0.722505C10.7945 0.314071 11.2823 0.0572225 11.8111 0.008463C12.34 -0.0402965 12.8665 0.123027 13.275 0.462504C13.6834 0.801982 13.9403 1.2898 13.989 1.81866C14.0378 2.34751 13.8745 2.87407 13.535 3.2825L4.59498 14.0025L13.235 24.7225C13.4795 25.0161 13.6349 25.3736 13.6827 25.7527C13.7304 26.1318 13.6686 26.5166 13.5045 26.8617C13.3404 27.2067 13.0808 27.4975 12.7566 27.6997C12.4324 27.9019 12.057 28.007 11.675 28.0025Z" fill="black"/>
                                </svg>
                            </span> MEAZOR
                        </h5>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto">
                    <div class="meazor-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="ipod-image">
                                 <img src="{{'tech-spec-front-meazor1.svg' | asset_url}}" class="img-fluid" alt="ipod">
                            </div>
                        </div>
                        <div class="item">
                            <div class="ipod-image">
                                <img src="{{'image-9.svg' | asset_url}}" class="img-fluid" alt="ipod">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs border-0 justify-content-between" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#functions">functions</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#hardware">hardware</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane container active" id="functions">
                            <div class="inner-function">
                                <div class="row">

                                    <div class="col-lg-6 col-md-6">
                                        <div class="function-box">
                                            <h4>MEAZOR APP 2.0</h4>
                                            <p>Android 6.0 or above and requires minimum 4GB ram. iOS 13 or above. Adapt to Connection protocol: Bluetooth 4.0 wireless connection.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3 mt-md-0">
                                        <div class="function-box">
                                            <h4>Laser Distance</h4>
                                            <p>- Measure range: 0.3feet-82feets (0.1m-25m).</p>
                                            <p>- Resolution: 0.04inch(1mm)</p>
                                            <p>- Accuracy: +-0.12inch (+-2mm) in ideal circumstance.*</p>
                                            <span>*Non-ideal circumstances such as outdoor with strong light, or under the bad reflective surface, the error will be superimposed with maximum +- 1‰ of the measurement distance.</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Scale Rolling Ruler</h4>
                                            <p><strong>Range:</strong> 0-300feets (0-99meters)</p>
                                            <p><strong>Resolution:</strong> 0.5mm</p>
                                            <p><strong>Accuracy:</strong> ±1mm or ±0.2% </p>
                                            <p>in ideal circumstances. **</p>
                                            <span>**Non-ideal circumstances: The accuracy decreases on slippery, uneven, soft, curved surfaces. Inclination, misalignment and other human error factors will also affect the measurement accuracy.</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>***Non-ideal Circumstances</h4>
                                            <p>*Non-ideal circumstances such as outdoor with strong light, or under the bad reflective surface, the error will be superimposed with maximum +- 2‰ of the measurement distance.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Scales Measure</h4>
                                            <p>Support 4 built-in scale modes with 57 scales in total</p>
                                                <ul class="list-inline">
                                                    <li>- Metric Architecture</li>
                                                    <li>- Metric Engineering</li>
                                                    <li>- US Architecture</li>
                                                    <li>- US Engineering</li>
                                                </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>2D Floor Plan Scanning</h4>
                                            <p><strong>Measuring Range:</strong> maximum room 
                                           <br> size:114×114feet (12900feet²) or<br> 35m×35m (1200m²).
                                            -Accuracy +-0.5in² (+-25mm²) in ideal<br> circumstances.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Curve Scanning</h4>
                                            <p>Range: Maximum Curve Length(start point-endpoint): 82feets(25 meters)
                                                Resolution: Angel Resolution : 1.0°, Length Resolution: 0.04inch(+-1mm)
                                                </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Level</h4>
                                            <p>Range: Dual axis ±90°
                                                Resolution: 0.1°
                                                Accuracy: ±0.2°at 0° ~45°. ±0.4° at other angles</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Protractor</h4>
                                            <p>-Support laser assist mode</p>
                                            <p>Range: 0~360°
                                                Resolution: 0.17°
                                                Accuracy: ±0.3°at 0°~180°, ±0.4° at other angles</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Pro-Laser</h4>
                                            <p>-Pythagorean mode with triangle third-side and area calculation.
                                                -Area mode with rectangular area calculation.
                                                -Export drawing to apps</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Support Units</h4>
                                            <p>- General Measure: inch, foot, yard, mm, cm, meter</p>
                                            <p>- Large Scale Measure: inch, foot, yard, miles, mm, cm, meter, km</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="button">
                                            <button type="button" class="btn btn-default">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                          <div class="tab-pane container" id="hardware">
                            <div class="inner-function">
                                <div class="row">

                                    <div class="col-lg-6 col-md-6">
                                        <div class="function-box">
                                            <h4>Display</h4>
                                            <p>1.3-inch diagonal IPS-backlit display, 240×240 resolution at 184 PPI.</p>
                                            <p>Covered with tempered glass capacitive touch screen.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3 mt-md-0">
                                        <div class="function-box">
                                            <h4>Battery</h4>
                                            <p>Built-in 650 mAh lithium‑polymer battery. <br>
                                                Support 5V -1A USB-C Port Charging. <br>
                                                *DO NOT support fast charging protocol adapter.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Battery Life</h4>
                                            <p>- 30 days battery life in stand-by mode</p>
                                            <p>- 6 hours continuous use under comprehensive power consumption.</p>
                                            <p>- 0.75 hours continuous use under maximum power consumption.</p>
                                        </div>
                                    </div>

                                  
                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Support Units</h4>
                                            <p>- General Measure: inch, foot, yard, mm, cm, meter</p>
                                            <p>- Large Scale Measure: inch, foot, yard, miles, mm, cm, meter, km</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Operating Environment</h4>
                                            <p><strong>Operating temperature</strong> <br>
                                                50° to 95° F (10° to 35° C)<br>
                                                <strong>Relative humidity</strong> <br>
                                                0% to 90% noncondensing</p>
                                            
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 mt-3">
                                        <div class="function-box">
                                            <h4>Laser</h4>
                                            <div class="bottom-section w-100 d-flex">
                                                <figure class="mb-0">
                                                    <img src="{{'caution.svg' | asset_url}}" class="img-fluid" alt="caution">
                                                </figure>
                                                <div class="paragraph text-start">
                                                    <p>CAUTION: :Laser Radiation</p>
                                                    <p> Not Stare into Beam</p>
                                                    <p>Please keep away from children</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="button">
                                            <button type="button" class="btn btn-default">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="legal-statement">
                            <h4>Legal Statement:</h4>
                            <div class="statement">
                                <h5>MEAZOR Info:</h5>
                                <p>Before you use MEAZOR, please read the product instructions and all precautions carefully. If you have any questions, please visit the HOZO Design website for relevant information. Or send an e-mail to: info@hozodesign for advice on the use of products.</p>
                            </div>
                            <div class="statement">
                                <h5>Safety information:</h5>
                                <p>This product should not use incompatible charger or charging cable; these actions may cause product damage, fire, explosion or other hazards. This product can only be used with accessories approved by the manufacturer. If customers purchase and replace parts with third-party accessories, this action may break the warranty for this product. Please use this product to measure when the temperature is in the range of 0 ℃ and 35 ℃. If the ambient temperature is too high or too low, it may reduce the life of the components in the product or cause product malfunction. Do not put this product in water or use in extremely humid conditions. This action may damage the internal circuit board of the product. This product contain 650mAh Li-ion Battery. Please recycle the product according to local regulations. They should not be treated as household waste. Improper disposal of batteries may lead to environmental pollution.</p>
                            </div>
                            <div class="statement">
                                <h5>Product Statement:</h5>
                                <p>MEAZOR, HOZO subtitles and logos are registered trademarks owned by HOZO Design.Co., Limited. MEAZOR Digital Ruler are patented products that their appearance and functions are protected by the laws of the United States and China. Hozo Design.Co., Limited. All rights reserved, this manual does not constitute any form of commitment. ©2021 HOZO Design .Co., Limited . All rights reserved.</p>
                            </div>

                            <div class="text-center mt-5">
                                <figure class="mb-0">
                                  <img src="{{'Frame-icon.svg' | asset_url}}" class="img-fluid" alt="caution">
                                  
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

                                  

<script>
$('.meazor-carousel').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true,
    autoPlaySpeed: 100,
    autoPlayTimeout: 100,
    smartSpeed: 1000,
    nav:false,
    dots: true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            
            items:1
        }
    }
});
</script>