  <section class="Products">
      <div class="container">
        <div class="top-content5">
          <h2>Shipping</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="Warranty-contet">
              <div class="Warranty-hading">
                <h6> How long does delivery take? </h6>
                 <p> International Shipping: 4-6 business days (EU, Asia), 6-8 business days (Other Regions)</p>
                <p>US Domestic Shipping: 3-5 business days (standard), 2 business days (2DAY Express)</p>
                <p> * Due to the influence of the COVID-19 epidemic and military activity in certain regions, shipping time may vary up to 5 business days.</p>
              </div>
               <div class="Warranty-hading">
                <h6>Is tax/VAT included? Will I be charged any extra duties upon package is delivered? </h6>
                          <p> Tax and VAT is covered for all US domestic shipping and international shipping to EU countries, so there won’t be any extra costs of tax if your shipping address is in the above-mentioned regions*.If you are charged any duties when receiving the products in EU(that covers by IOSS)/US, please contact us for reimbursement with the receipt.(*NOT apply to any order that use DHL Interntional Shipping)</p>

For the other international shipping the price of the item does NOT include additional duty and taxes that may apply as per local laws of importation. If taxes and/or duties apply, your local courier will contact you to accommodate your local laws, we appreciate your kind comprehension.
Sometimes goods under a specific value or in certain categories do not incur taxes. The rules are different in every country. Unfortunately, there is no way for our sellers to know the rules, regulations, customs, traditions, practices, loopholes, schemes, systems, paperwork, codes, laws, or rulings of every country. Therefore, we cannot, and will not, offer advice about taxes in your country. As the buyer, it is your responsibility to find out that information before you order. If you have to pay import taxes and/or additional duties and sales taxes, you would have to pay that to the courier upon receipt of the package(s). We can’t calculate this for you, and there is no way to pre-pay it. If you are drop-shipping or sending a gift item to someone, please make sure they are aware of the possibility of having to pay taxes when receiving the goods.
Please find out as much as you can about your import taxes in your own country before completing your order. If you find out information about the import tax situation in your country, and you believe there are ways to minimize the taxes you have to pay (or eliminate the taxes), let us know what you need by putting instructions (regarding labeling, packing, declarations, invoices, etc.) in the comments field during checkout. We are more than happy to follow your instructions.</p>
                </div>
              <div class="Warranty-hading">
                <h6>When should I expect to receive the tracking info?</h6>
               <p>It takes 1-3 business days for HOZO Distribution Center to process your order in general. Once your order is shipped out, we will send you an email with tracking info of your order.</p>
            </div>
              <div class="Warranty-hading">
                <h6>Can I change the delivery address?</h6>
               <p>If the order has been shipped out, unfortunately, we cannot change the shipment once the product is en route. If the order has not been shipped, please try to contact <a href="mailto:support@hozodesign.com">Customer Support<a> at once for help.</p>
                 </div>
              <div class="Warranty-hading">
                <h6>Why I have not received any shipping info about my order being shipped?</h6>
               <p> Please check your junk emails and if your email address shielded our email. 
If you still cannot find the shipping notification, please do not hesitate contact our <a href="mailto:support@hozodesign.com">Customer Support<a>  </p>
                  </div>
              <div class="Warranty-hading">
                <h6>Why the package tracking info shows [returned to sender]?</h6>
               <p> When your parcel is marked as [Return to Sender], the local courier will keep your parcel until correct address is provided and confirmed. This is usually caused by a wrong or incomplete address, invalid phone number, or other reasons. Please contact us for further help and we will coordinate to update the shipping address if needed.</p>
                 </div>        
                <div class="Warranty-hading">
                <h6>Why there is no shipping updates?</h6>
                          <p> When orders ship from our warehouse, it needs days to arrive in your country by plane first. There is no updated information for your package as it is in transit to the shipping company's next facility. Sometimes, there will not be an update on the tracking information for a couple of days because the package is in transit. Once the package arrives at local, the order status will update immediately.
Please note: Due to the influence of the COVID-19 epidemic and military activity in certain regions there is a shortage of global transport resources, which may delay your order for several days.
</p>
                   </div>        
             
                 <div class="Warranty-hading">
                <h6>Why does the tracking service shows that the package has been delivered, but I did not receive anything?</h6>
                          <p> The package might be delivered to your mail box or signed by your neighbors, please have a check first. If no result, kindly contact the local shipping courier to check for more details.</p>
                   </div>  
          </div>
        </div>
         </div>
          </div>
    </section>